@import "globals";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #333;
  font-weight: bold;
}

h1 {
  text-align: center;
  font-weight: bold; /* <-- use font-weight instead of text */
}

h2 {
  font-weight: 400;
  margin-bottom: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  max-width: 80%;
  align-items: center;
  text-align: center;
}
.drop-container {
  border: 2px dashed #000;
  border-radius: 10px;
  display: grid;
  place-content: center;
  width: 20rem;
  min-height: 10rem;
  padding: 1rem;
}

.dropzone-placeholder {
  color: #888;
}

.draggable {
  background-color: #8c113c;
  color: #fff;
  font-weight: 500;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  cursor: move;
  max-width: max-content;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  grid-area: header;
  text-align: center;
    font-size: 25px;
    font-weight: bolder;
    padding: 20px;
    border-style: none;
    text-shadow: 0 0 3px #d9a5b3, 0 0 5px #ffff;
    font-weight: bolder;
  }

h1 {
  text-align: center;
    font-weight: bolder;
    padding: 40px;
    border-style: none;
    text-shadow: 0 0 3px #d9a5b3, 0 0 5px #ffff;
    font-weight: bolder;
  }

.logo {
  width: 100px;
  height: 100px;
}

.wrapper {
  width: min(100% - 2rem, 1200px);
  margin-inline: auto;
}
.navbar {
  display: flex;
  background-color: #f5cccc;
}

.navbar a {
  color:  #000;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: #1e3d59;
  color: #ffff;
}

.row {  
  display: flex;
  flex-wrap: wrap;
}

img {
  float: right;
  height: 250px;
}
